.MuiButtonBase-root:disabled {
  cursor: not-allowed;
  pointer-events: auto;
}

.button {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background-color: #2c3e50;
}